<h1>Calendar</h1>

<div id="calendar">  
  <h2 id="month">  
    <%= link_to raw("&larr;"), previous_calendar_path(@date) %>
    <%= h @date.strftime("%B %Y") %>  
    <%= link_to raw("&rarr;"), next_calendar_path(@date) %>
  </h2>   
  <% calendar_for @transactions, :year => @date.year, :month => @date.month do |calendar| %>  
    <%= calendar.head('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday')%>
    <% calendar.day(:day_method => :executed_at) do |date, transactions| %>  
      <%= date.day %>  
      <ul>  
        <% transactions.each do |transaction| %>  
          <li><%= link_to transaction.category.name, transaction %></li>  
        <% end %>  
      </ul>
    <% end %>  
  <% end %>  
</div>
