<%= form_for category do |f|%>
  <% if category.errors.any? %>
    <ul>
      <% category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>  

  <p><%= f.label :name %><br />
  <%= f.text_field :name %></p>

  <p><%= f.label :income %><br />
  <%= f.check_box :income %></p>

  <p><%= f.submit %></p>
<% end -%>
